.App {
  display: grid;
  place-content: center;
  margin-top: 50px;
}

.field{
  height: 500px;
  width: 500px;
  background-color: green;
  position: relative;
  
}
#box{
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
  top:50px;
  left: 50px;
  bottom: 0px;
  right: 0px;

}
#up{
  height: 50px;
  width: 500px;
  background-color: yellow;
  text-align: center;
}
#left{
  height: 450px;
  width: 50px;
  background-color: yellow;
}
#right{
  height: 450px;
  width: 50px;
  background-color: yellow;
  position: absolute;
  right:0px;
  top:50px;
}
#down{
  height: 50px;
  width: 500px;
  background-color: yellow;
  bottom: 0px;
  text-align: center;
}

/* .up{
  height: 50px;
  width: 500px;
  background-color: yellow;
}
.up{
  height: 50px;
  width: 500px;
  background-color: yellow;
} */
.u{
  height: 50px;
  width: 500px;
  background-color: yellow;
}
.l{
  height: 450px;
  width: 50px;
  background-color: yellow;
  top: 0;
}